<div class="ui padded grid">
    <div class="row">
        <div class="column">
            <div class="ui segment page">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <h3 class="ui header">
                                <div class="content">
                                    Create Project
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="ui form">
                            <div class="ui column grid">
                                <div class="column">
                                    <h5 class="ui dividing header">Project Configuration</h5>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Project Name</label>
                                            <input id="create-project-name" name="hostname" class="input" type="text" ng-model="vm.project.name" placeholder="Project name..." />
                                        </div>
                                        <div class="field">
                                            <label>Author</label>
                                            <input disabled name="domainname" class="input" type="text" ng-model="vm.project.author" placeholder="Author" />
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div class="field">
                                            <label>Project Description</label>
                                            <input name="command" class="input" type="text" ng-model="vm.project.description" placeholder="Description..." />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="column">
                                <div ng-click='vm.saveProject(vm.project)' class="ui small gray button" id="create-project-button">
                                    Create Project
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
